<app-topo-paginas></app-topo-paginas>
<div class="p-3">
  <div class="grid">
    <div class="col-4" (click)="enviaTransacao()">
      <div class="card flex align-items-center">
        <div class="mb-2">
          <i class="pi pi-book text-6xl"></i>
        </div>
        <div>
          <h3>Verificar transações</h3>
        </div>
      </div>
    </div>
    
    <div class="col-4" >
      <div class="card flex align-items-center">
        <div class="mb-2">
          <i class="pi pi-chart-line text-6xl"></i>
        </div>
        <div>
          <h3>Verificar balanço</h3>
        </div>
      </div>
    </div>

    <div class="col-4" (click)="enviaCadastroCliente()">
      <div class="card flex align-items-center">
        <div class="mb-2">
          <i class="pi pi-pencil text-6xl"></i>
        </div>
        <div>
          <h3>Criar Cliente</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-right" key="home" />