<app-topo-paginas></app-topo-paginas>
<div class="container mt-5">
  <div class="grid">
    <div class="card col-5 align-items-center mr-2" (click)="enviaTransacao()">
      <div class="mb-2">
        <i class="pi pi-book text-6xl"></i>
      </div>
      <div>
        <h3>Verificar transações</h3>
      </div>
    </div>
    
    <div class="card align-items-center col-5 flex" >
      <div class="mb-2">
        <i class="pi pi-pencil text-6xl"></i>
      </div>
      <div>
        <h3>Criar Transação</h3>
      </div>
    </div>
  </div>
</div>