<app-topo-paginas></app-topo-paginas>
<p-toast position="top-right" key="verifica-transacao" />
<div class="grid p-3 mt-1">
  <div class="col-6 grid">
    <div class="col-2">
      <p-button [rounded]="true" [text]="true" icon="pi pi-arrow-left" (onClick)="voltarHome()"/>
    </div>
    <div class="col-10">
      <p-floatLabel>
        <input pInputText id="idCustomer" [(ngModel)]="idCustomer" />
        <label for="idCustomer">Descrição</label>
      </p-floatLabel>
      @if(isIdCustomerEmpty){
        <small style="display:block;color:red">Campo Descrição é obrigatorio</small>
      }
    </div>
  </div>
  <div class="col-6 flex justify-content-end">
    <p-button [rounded]="true" [text]="true" icon="pi pi-search" (onClick)="pesquisar()"/>
  </div>
  <div class="col-12 mt-1">
    <p-table responsiveLayout="scroll" [loading]="carregaTabela" dataKey="id" [columns]="colunas" [value]="dadosGrid" styleClass="p-datatable-gridlines">
      <ng-template  pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track dadosGrid) {
            <th [pSortableColumn]="col.field">
                {{ col.header }}
                @if(col.field != 'acoes'){
                  <p-sortIcon [field]="col.field" />
                }
            </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        @if(!carregaTabela){
          <tr>
            @for (col of columns; track dadosGrid) {
              
              <td>
                {{ rowData[col.field] }}
              </td>
              
            }
          </tr>
        }
      </ng-template>
      </p-table>
  </div>
</div>