<p-toolbar styleClass="fundo-topo">
  <div class="p-toolbar-group-start">
    <div class="flex align-items-center">
      <div>
        <h2 style="color: white;" class="fonte-padrao" (click)="redirecionaHome()">PagWay</h2>
      </div>
    </div>
  </div>
  <div class="p-toolbar-group-end">
    <div class="flex align-items-center">
      <p-button (onClick)="sairPlataforma()" class="hover-botao" icon="pi pi-sign-out" [rounded]="true" [text]="true" class="mr-2"/>
    </div>
  </div>

</p-toolbar>