<div>
  <section class="container forms">

    <p-toast position="top-center" key="login" />

    <div class="form login">
      <div class="form-content content-geral">
        <!-- <header class="font-header fonte-padrao color-padrao" >CCB-Gestões</header> -->
        <header class="font-header fonte-padrao color-padrao">Acesso</header>

        @if (!spinnerActive) {
        <form action="#">
          <div class="field input-field">
            <p-floatLabel>
              <input
                class="input"
                pInputText
                id="Nome"
                [(ngModel)]="nome"
                name="teste"
              />
              <label for="Nome">Nome</label>
            </p-floatLabel>
            @if (isNomeEmpty) {
              <small style="color: red">O nome precisa estar preenchido.</small>
            }
          </div>

          <!-- @if (isNomeEmpty) {
          <div class="col-12 flex justify-content-center mt-1">
            <p style="color: red">O nome precisa estar preenchido.</p>
          </div>
          } -->

          <div class="field input-field">
            <p-floatLabel>
              <input
                class="input"
                pInputText
                id="Sobrenome"
                [(ngModel)]="sobrenome"
                name="teste"
              />
              <label for="Sobrenome">Sobrenome</label>
            </p-floatLabel>
            @if (isSobrenomeEmpty) {
              <small style="color: red">O sobrenome precisa estar preenchido.</small>
            }
          </div>

          <div class="field input-field">
            <p-floatLabel>
              <input
                class="input"
                pInputText
                id="Cpf"
                [(ngModel)]="cpf"
                name="teste"
              />
              <label for="Cpf">CPF</label>
            </p-floatLabel>
            @if (isCpfEmpty) {
              <small style="color: red">O CPF precisa estar preenchido.</small>
            }
          </div>

          <div class="field input-field">
            <p-floatLabel>
              <input
                class="input"
                pInputText
                id="Login"
                [(ngModel)]="login"
                name="teste"
              />
              <label for="Login">Login</label>
            </p-floatLabel>
            @if (isLoginEmpty) {
              <small style="color: red">O Login precisa estar preenchido.</small>
            }
          </div>

          <div class="field input-field">
            <p-floatLabel>
              <input
                class="input"
                pInputText
                id="Email"
                [(ngModel)]="email"
                name="teste"
              />
              <label for="Email">Email</label>
            </p-floatLabel>
            @if (isEmailEmpty) {
              <small style="color: red">O email precisa estar preenchido.</small>
            }
          </div>

          <div class="field input-field">
            <p-floatLabel>
              <p-password
                class="senha-style"
                id="Password"
                name="teste2"
                [(ngModel)]="senha"
                [toggleMask]="true"
                [feedback]="false"
              />
              <label for="Password">Senha</label>
            </p-floatLabel>
            @if (isSenhaEmpty) {
              <small style="color: red">A senha precisa estar preenchida.</small>
            }
          </div>

          <!-- <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
             </div> -->

          <div class="field col-12 justify-content-center button-login mt-6">
            <button
              (click)="registrar()"
              class="border-button fonte-padrao"
            >
              Registrar-se
            </button>
          </div>
        </form>
        } @else{
        <div class="col-12 mt-spinner flex justify-content-center">
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration="1s"
          ></p-progressSpinner>
        </div>
        }
      </div>
    </div>
  </section>
</div>